*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/background.png");
    background-size: 100vw,100vh;
}

div{
    position: absolute;
    top: 85%;
    right: 20px;
}